extends layout

block content
  .videos-list
    each video in videos
      .videos-list__video
        video(controls='controls')
          source(src=video.url, type='video/mp4')
            
      
        //- a(href=video.url)= video.name

